<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("docs-install") %>>
        <a href="/docs/install/index.html">Installing Packer</a>
      </li>
      <li><a href="/docs/basics/terminology.html">Terminology</a></li>

      <li<%= sidebar_current("docs-commands") %>>
        <a href="/docs/commands/index.html">Commands (CLI)</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-commands-build") %>>
            <a href="/docs/commands/build.html"><tt>build</tt></a>
          </li>
          <li<%= sidebar_current("docs-commands-fix") %>>
            <a href="/docs/commands/fix.html"><tt>fix</tt></a>
          </li>
          <li<%= sidebar_current("docs-commands-inspect") %>>
            <a href="/docs/commands/inspect.html"><tt>inspect</tt></a>
          </li>
          <li<%= sidebar_current("docs-commands-push") %>>
            <a href="/docs/commands/push.html"><tt>push</tt></a>
          </li>
          <li<%= sidebar_current("docs-commands-validate") %>>
            <a href="/docs/commands/validate.html"><tt>validate</tt></a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("docs-templates") %>>
        <a href="/docs/templates/index.html">Templates</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-templates-builders") %>>
            <a href="/docs/templates/builders.html">Builders</a>
          </li>
          <li<%= sidebar_current("docs-templates-communicators") %>>
            <a href="/docs/templates/communicator.html">Communicators</a>
          </li>
          <li<%= sidebar_current("docs-templates-engine") %>>
            <a href="/docs/templates/engine.html">Engine</a>
          </li>
          <li<%= sidebar_current("docs-templates-post-processors") %>>
            <a href="/docs/templates/post-processors.html">Post-Processors</a>
          </li>
          <li<%= sidebar_current("docs-templates-provisioners") %>>
            <a href="/docs/templates/provisioners.html">Provisioners</a>
          </li>
          <li<%= sidebar_current("docs-templates-push") %>>
            <a href="/docs/templates/push.html">Push</a>
          </li>
          <li<%= sidebar_current("docs-templates-user-variables") %>>
            <a href="/docs/templates/user-variables.html">User Variables</a>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-builders") %>>
        <a href="/docs/builders/index.html">Builders</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-builders-alicloud") %>>
             <a href="/docs/builders/alicloud-ecs.html">Alicloud ECS</a>
          </li>
          <li<%= sidebar_current("docs-builders-amazon") %>>
            <a href="/docs/builders/amazon.html">Amazon EC2</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-amazon-chroot") %>>
                <a href="/docs/builders/amazon-chroot.html">chroot</a>
              </li>
              <li<%= sidebar_current("docs-builders-amazon-ebsbacked") %>>
                <a href="/docs/builders/amazon-ebs.html">EBS</a>
              </li>
              <li<%= sidebar_current("docs-builders-amazon-ebssurrogate") %>>
                <a href="/docs/builders/amazon-ebssurrogate.html">EBS Surrogate</a>
              </li>
              <li<%= sidebar_current("docs-builders-amazon-ebsvolume") %>>
                <a href="/docs/builders/amazon-ebsvolume.html">EBS Volume</a>
              </li>
              <li<%= sidebar_current("docs-builders-amazon-instance") %>>
                <a href="/docs/builders/amazon-instance.html">Instance</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-azure") %>>
            <a href="/docs/builders/azure.html">Azure</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-azure-setup") %>>
                <a href="/docs/builders/azure-setup.html">Setup</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-cloudstack") %>>
            <a href="/docs/builders/cloudstack.html">CloudStack</a>
          </li>
          <li<%= sidebar_current("docs-builders-digitalocean") %>>
            <a href="/docs/builders/digitalocean.html">DigitalOcean</a>
          </li>
          <li<%= sidebar_current("docs-builders-docker") %>>
            <a href="/docs/builders/docker.html">Docker</a>
          </li>
          <li<%= sidebar_current("docs-builders-file") %>>
            <a href="/docs/builders/file.html">File</a>
          </li>
          <li<%= sidebar_current("docs-builders-googlecompute") %>>
            <a href="/docs/builders/googlecompute.html">Google Cloud</a>
          </li>
          <li<%= sidebar_current("docs-builders-hyperv") %>>
            <a href="/docs/builders/hyperv.html">Hyper-V</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-hyperv-iso") %>>
                <a href="/docs/builders/hyperv-iso.html">ISO</a>
              </li>
              <li<%= sidebar_current("docs-builders-hyperv-vmcx") %>>
                <a href="/docs/builders/hyperv-vmcx.html">VMCX</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-lxc") %>>
            <a href="/docs/builders/lxc.html">LXC</a>
          </li>
          <li<%= sidebar_current("docs-builders-lxd") %>>
            <a href="/docs/builders/lxd.html">LXD</a>
          </li>
          <li<%= sidebar_current("docs-builders-ncloud") %>>
            <a href="/docs/builders/ncloud.html">NAVER Cloud</a>
          </li>
          <li<%= sidebar_current("docs-builders-null") %>>
            <a href="/docs/builders/null.html">Null</a>
          </li>
          <li<%= sidebar_current("docs-builders-oneandone") %>>
            <a href="/docs/builders/oneandone.html">1&amp;1</a>
          </li>
          <li<%= sidebar_current("docs-builders-openstack") %>>
            <a href="/docs/builders/openstack.html">OpenStack</a>
          </li>
          <li<%= sidebar_current("docs-builders-oracle") %>>
            <a href="/docs/builders/oracle.html">Oracle</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-oracle-classic") %>>
                <a href="/docs/builders/oracle-classic.html">Oracle Classic</a>
              </li>
              <li<%= sidebar_current("docs-builders-oracle-oci") %>>
                <a href="/docs/builders/oracle-oci.html">Oracle OCI</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-parallels") %>>
            <a href="/docs/builders/parallels.html">Parallels</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-parallels-iso") %>>
                <a href="/docs/builders/parallels-iso.html">ISO</a>
              </li>
              <li<%= sidebar_current("docs-builders-parallels-pvm") %>>
                <a href="/docs/builders/parallels-pvm.html">PVM</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-profitbricks") %>>
            <a href="/docs/builders/profitbricks.html">ProfitBricks</a>
          </li>
          <li<%= sidebar_current("docs-builders-qemu") %>>
            <a href="/docs/builders/qemu.html">QEMU</a>
          </li>
          <li<%= sidebar_current("docs-builders-scaleway") %>>
            <a href="/docs/builders/scaleway.html">Scaleway</a>
          </li>
          <li<%= sidebar_current("docs-builders-triton") %>>
            <a href="/docs/builders/triton.html">Triton</a>
          </li>
          <li<%= sidebar_current("docs-builders-virtualbox") %>>
            <a href="/docs/builders/virtualbox.html">VirtualBox</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-virtualbox-iso") %>>
                <a href="/docs/builders/virtualbox-iso.html">ISO</a>
              </li>
              <li<%= sidebar_current("docs-builders-virtualbox-ovf") %>>
                <a href="/docs/builders/virtualbox-ovf.html">OVF</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-vmware") %>>
            <a href="/docs/builders/vmware.html">VMware</a>
            <ul class="nav">
              <li<%= sidebar_current("docs-builders-vmware-iso") %>>
                <a href="/docs/builders/vmware-iso.html">ISO</a>
              </li>
              <li<%= sidebar_current("docs-builders-vmware-vmx") %>>
                <a href="/docs/builders/vmware-vmx.html">VMX</a>
              </li>
            </ul>
          </li>
          <li<%= sidebar_current("docs-builders-custom") %>>
            <a href="/docs/builders/custom.html">Custom</a>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-provisioners")%>>
        <a href="/docs/provisioners/index.html">Provisioners</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-provisioners-ansible-local")%>>
            <a href="/docs/provisioners/ansible-local.html">Ansible Local</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-ansible-remote")%>>
            <a href="/docs/provisioners/ansible.html">Ansible Remote</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-chef-client")%>>
            <a href="/docs/provisioners/chef-client.html">Chef Client</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-chef-solo")%>>
            <a href="/docs/provisioners/chef-solo.html">Chef Solo</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-converge")%>>
            <a href="/docs/provisioners/converge.html">Converge</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-file")%>>
            <a href="/docs/provisioners/file.html">File</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-powershell")%>>
            <a href="/docs/provisioners/powershell.html">PowerShell</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-puppet-masterless")%>>
            <a href="/docs/provisioners/puppet-masterless.html">Puppet Masterless</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-puppet-server")%>>
            <a href="/docs/provisioners/puppet-server.html">Puppet Server</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-salt-masterless")%>>
            <a href="/docs/provisioners/salt-masterless.html">Salt Masterless</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-shell-remote")%>>
            <a href="/docs/provisioners/shell.html">Shell</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-shell-local")%>>
            <a href="/docs/provisioners/shell-local.html">Shell (Local)</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-windows-shell")%>>
            <a href="/docs/provisioners/windows-shell.html">Windows Shell</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-windows-restart")%>>
            <a href="/docs/provisioners/windows-restart.html">Windows Restart</a>
          </li>
          <li<%= sidebar_current("docs-provisioners-custom")%>>
            <a href="/docs/provisioners/custom.html">Custom</a>
          </li>
        </ul>
      </li>
      <li<%= sidebar_current("docs-post-processors") %>>
        <a href="/docs/post-processors/index.html">Post-Processors</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-post-processors-alicloud-import") %>>
              <a href="/docs/post-processors/alicloud-import.html">Alicloud Import</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-amazon-import") %>>
            <a href="/docs/post-processors/amazon-import.html">Amazon Import</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-artifice") %>>
            <a href="/docs/post-processors/artifice.html">Artifice</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-atlas") %>>
            <a href="/docs/post-processors/atlas.html">Atlas</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-compress") %>>
            <a href="/docs/post-processors/compress.html">Compress</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-checksum") %>>
            <a href="/docs/post-processors/checksum.html">Checksum</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-docker-import") %>>
            <a href="/docs/post-processors/docker-import.html">Docker Import</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-docker-push") %>>
            <a href="/docs/post-processors/docker-push.html">Docker Push</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-docker-save") %>>
            <a href="/docs/post-processors/docker-save.html">Docker Save</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-docker-tag") %>>
            <a href="/docs/post-processors/docker-tag.html">Docker Tag</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-googlecompute-export") %>>
            <a href="/docs/post-processors/googlecompute-export.html">Google Compute Export</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-manifest") %>>
            <a href="/docs/post-processors/manifest.html">Manifest</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-shell-local") %>>
            <a href="/docs/post-processors/shell-local.html">Shell (Local)</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-vagrant-box") %>>
            <a href="/docs/post-processors/vagrant.html">Vagrant</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-vagrant-cloud") %>>
            <a href="/docs/post-processors/vagrant-cloud.html">Vagrant Cloud</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-vsphere") %>>
            <a href="/docs/post-processors/vsphere.html">vSphere</a>
          </li>
          <li<%= sidebar_current("docs-post-processors-vSphere-template") %>>
            <a href="/docs/post-processors/vsphere-template.html">vSphere Template</a>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-extending") %>>
        <a href="/docs/extending/index.html">Extending Packer</a>
        <ul class="nav">
          <li<%= sidebar_current("docs-extending-plugins") %>>
            <a href="/docs/extending/plugins.html">Plugins</a>
          </li>
          <li<%= sidebar_current("docs-extending-custom-builders") %>>
            <a href="/docs/extending/custom-builders.html">Custom Builders</a>
          </li>
          <li<%= sidebar_current("docs-extending-custom-post-processors") %>>
            <a href="/docs/extending/custom-post-processors.html">Custom Post-Processors</a>
          </li>
          <li<%= sidebar_current("docs-extending-custom-provisioners") %>>
            <a href="/docs/extending/custom-provisioners.html">Custom Provisioners</a>
          </li>
        </ul>
      </li>

      <hr>

      <li<%= sidebar_current("docs-other-environment-variables") %>>
        <a href="/docs/other/environment-variables.html">Environment Variables</a>
      </li>
      <li<%= sidebar_current("docs-other-core-configuration")%> >
        <a href="/docs/other/core-configuration.html">Core Configuration</a>
      </li>
      <li<%= sidebar_current("docs-other-debugging") %>>
        <a href="/docs/other/debugging.html">Debugging</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
