<li<%= sidebar_current("configuration-functions") %>>
  <a href="/docs/configuration/from-1.5/functions.html">Functions</a>
  <ul class="nav">
    <li <%= sidebar_current("configuration-functions-numeric") %> id="docs-funcs-numeric">
      <a href="/docs/configuration/from-1.5/functions/numeric/overview.html">Numeric Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-numeric-abs") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/abs.html">abs</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-ceil") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/ceil.html">ceil</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-floor") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/floor.html">floor</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-log") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/log.html">log</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-max") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/max.html">max</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-min") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/min.html">min</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-parseint") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/parseint.html">parseint</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-pow") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/pow.html">pow</a>
        </li>

        <li <%= sidebar_current("configuration-functions-numeric-signum") %>>
          <a href="/docs/configuration/from-1.5/functions/numeric/signum.html">signum</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-string") %> id="docs-funcs-string">
      <a href="/docs/configuration/from-1.5/functions/string/overview.html">String Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-string-chomp") %>>
          <a href="/docs/configuration/from-1.5/functions/string/chomp.html">chomp</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-format") %>>
          <a href="/docs/configuration/from-1.5/functions/string/format.html">format</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-formatlist") %>>
          <a href="/docs/configuration/from-1.5/functions/string/formatlist.html">formatlist</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-indent") %>>
          <a href="/docs/configuration/from-1.5/functions/string/indent.html">indent</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-join") %>>
          <a href="/docs/configuration/from-1.5/functions/string/join.html">join</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-lower") %>>
          <a href="/docs/configuration/from-1.5/functions/string/lower.html">lower</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-split") %>>
          <a href="/docs/configuration/from-1.5/functions/string/split.html">split</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-strrev") %>>
          <a href="/docs/configuration/from-1.5/functions/string/strrev.html">strrev</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-substr") %>>
          <a href="/docs/configuration/from-1.5/functions/string/substr.html">substr</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-title") %>>
          <a href="/docs/configuration/from-1.5/functions/string/title.html">title</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-trim") %>>
          <a href="/docs/configuration/from-1.5/functions/string/trim.html">trim</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-trimprefix") %>>
          <a href="/docs/configuration/from-1.5/functions/string/trimprefix.html">trimprefix</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-trimsuffix") %>>
          <a href="/docs/configuration/from-1.5/functions/string/trimsuffix.html">trimsuffix</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-trimspace") %>>
          <a href="/docs/configuration/from-1.5/functions/string/trimspace.html">trimspace</a>
        </li>

        <li <%= sidebar_current("configuration-functions-string-upper") %>>
          <a href="/docs/configuration/from-1.5/functions/string/upper.html">upper</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-collection") %> id="docs-funcs-collection">
      <a href="/docs/configuration/from-1.5/functions/collection/overview.html">Collection Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-collection-chunklist") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/chunklist.html">chunklist</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-coalesce") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/coalesce.html">coalesce</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-coalescelist") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/coalescelist.html">coalescelist</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-compact") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/compact.html">compact</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-concat") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/concat.html">concat</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-contains") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/contains.html">contains</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-distinct") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/distinct.html">distinct</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-element") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/element.html">element</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-flatten") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/flatten.html">flatten</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-index") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/index.html">index</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-keys") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/keys.html">keys</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-length") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/length.html">length</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-lookup") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/lookup.html">lookup</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-merge") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/merge.html">merge</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-range") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/range.html">range</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-reverse") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/reverse.html">reverse</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-setintersection") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/setintersection.html">setintersection</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-setproduct") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/setproduct.html">setproduct</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-setunion") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/setunion.html">setunion</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-slice") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/slice.html">slice</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-sort") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/sort.html">sort</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-values") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/values.html">values</a>
        </li>

        <li <%= sidebar_current("configuration-functions-collection-zipmap") %>>
          <a href="/docs/configuration/from-1.5/functions/collection/zipmap.html">zipmap</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-encoding") %> id="docs-funcs-encoding">
      <a href="/docs/configuration/from-1.5/functions/encoding/overview.html">Encoding Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-encoding-base64decode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/base64decode.html">base64decode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-base64encode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/base64encode.html">base64encode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-csvdecode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/csvdecode.html">csvdecode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-jsondecode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/jsondecode.html">jsondecode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-jsonencode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/jsonencode.html">jsonencode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-urlencode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/urlencode.html">urlencode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-yamldecode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/yamldecode.html">yamldecode</a>
        </li>

        <li <%= sidebar_current("configuration-functions-encoding-yamlencode") %>>
          <a href="/docs/configuration/from-1.5/functions/encoding/yamlencode.html">yamlencode</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-file") %> id="docs-funcs-file">
      <a href="/docs/configuration/from-1.5/functions/file/overview.html">Filesystem Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-file-abspath") %>>
          <a href="/docs/configuration/from-1.5/functions/file/abspath.html">abspath</a>
        </li>

        <li <%= sidebar_current("configuration-functions-file-basename") %>>
          <a href="/docs/configuration/from-1.5/functions/file/basename.html">basename</a>
        </li>

        <li <%= sidebar_current("configuration-functions-file-dirname") %>>
          <a href="/docs/configuration/from-1.5/functions/file/dirname.html">dirname</a>
        </li>

        <li <%= sidebar_current("configuration-functions-file-file") %>>
          <a href="/docs/configuration/from-1.5/functions/file/file.html">file</a>
        </li>

        <li <%= sidebar_current("configuration-functions-file-file-exists") %>>
          <a href="/docs/configuration/from-1.5/functions/file/fileexists.html">fileexists</a>
        </li>

        <li <%= sidebar_current("configuration-functions-file-file-set") %>>
          <a href="/docs/configuration/from-1.5/functions/file/fileset.html">fileset</a>
        </li>

        <li <%= sidebar_current("configuration-functions-file-pathexpand") %>>
          <a href="/docs/configuration/from-1.5/functions/file/pathexpand.html">pathexpand</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-datetime") %> id="docs-funcs-datetime">
      <a href="/docs/configuration/from-1.5/functions/datetime/overview.html">Date and Time Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-datetime-formatdate") %>>
          <a href="/docs/configuration/from-1.5/functions/datetime/formatdate.html">formatdate</a>
        </li>

        <li <%= sidebar_current("configuration-functions-datetime-timeadd") %>>
          <a href="/docs/configuration/from-1.5/functions/datetime/timeadd.html">timeadd</a>
        </li>

        <li <%= sidebar_current("configuration-functions-datetime-timestamp") %>>
          <a href="/docs/configuration/from-1.5/functions/datetime/timestamp.html">timestamp</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-crypto") %> id="docs-funcs-crypto">
      <a href="/docs/configuration/from-1.5/functions/crypto/overview.html">Hash and Crypto Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-crypto-bcrypt") %>>
          <a href="/docs/configuration/from-1.5/functions/crypto/bcrypt.html">bcrypt</a>
        </li>

        <li <%= sidebar_current("configuration-functions-crypto-md5") %>>
          <a href="/docs/configuration/from-1.5/functions/crypto/md5.html">md5</a>
        </li>

        <li <%= sidebar_current("configuration-functions-crypto-rsadecrypt") %>>
          <a href="/docs/configuration/from-1.5/functions/crypto/rsadecrypt.html">rsadecrypt</a>
        </li>

        <li <%= sidebar_current("configuration-functions-crypto-sha1") %>>
          <a href="/docs/configuration/from-1.5/functions/crypto/sha1.html">sha1</a>
        </li>

        <li <%= sidebar_current("configuration-functions-crypto-sha256") %>>
          <a href="/docs/configuration/from-1.5/functions/crypto/sha256.html">sha256</a>
        </li>

        <li <%= sidebar_current("configuration-functions-crypto-sha512") %>>
          <a href="/docs/configuration/from-1.5/functions/crypto/sha512.html">sha512</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-uuid") %> id="docs-funcs-uuid">
      <a href="/docs/configuration/from-1.5/functions/uuid/overview.html">UUID Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-uuid-uuidv4") %>>
          <a href="/docs/configuration/from-1.5/functions/uuid/uuidv4.html">uuidv4</a>
        </li>

        <li <%= sidebar_current("configuration-functions-uuid-uuidv5") %>>
          <a href="/docs/configuration/from-1.5/functions/uuid/uuidv5.html">uuidv5</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-ipnet") %> id="docs-funcs-ipnet">
      <a href="/docs/configuration/from-1.5/functions/ipnet/overview.html">IP Network Functions</a>
      <ul class="nav">

        <li <%= sidebar_current("configuration-functions-ipnet-cidrhost") %>>
          <a href="/docs/configuration/from-1.5/functions/ipnet/cidrhost.html">cidrhost</a>
        </li>

        <li <%= sidebar_current("configuration-functions-ipnet-cidrnetmask") %>>
          <a href="/docs/configuration/from-1.5/functions/ipnet/cidrnetmask.html">cidrnetmask</a>
        </li>

        <li <%= sidebar_current("configuration-functions-ipnet-cidrsubnet") %>>
          <a href="/docs/configuration/from-1.5/functions/ipnet/cidrsubnet.html">cidrsubnet</a>
        </li>

      </ul>
    </li>

    <li <%= sidebar_current("configuration-functions-conversion") %> id="docs-funcs-conversion">
      <a href="/docs/configuration/from-1.5/functions/conversion/overview.html">Type Conversion Functions</a>
      <ul class="nav" >

        <li <%= sidebar_current("configuration-functions-conversion-can") %>>
          <a href="/docs/configuration/from-1.5/functions/conversion/can.html">can</a>
        </li>

        <li <%= sidebar_current("configuration-functions-conversion-convert") %>>
          <a href="/docs/configuration/from-1.5/functions/conversion/convert.html">convert</a>
        </li>

        <li <%= sidebar_current("configuration-functions-conversion-try") %>>
          <a href="/docs/configuration/from-1.5/functions/conversion/try.html">try</a>
        </li>

      </ul>
    </li>

  </ul>
</li>
