<% wrap_layout :layout do %>
<div class="docs-wrapper">
  <div class="row row-lg-height">
    <div class="sidebar col-sm-3 col-md-3 col-lg-height col-md-height col-sm-height">
      <%= yield_content :sidebar %>
    </div>
    <div class="docs-body col-sm-9 col-md-9 col-lg-height col-md-height col-sm-height">
      <div class="docs-content">
        <%= yield %>
      </div>

      <% if current_page.data.next_url %>
        <div class="pagination">
          <a class="previous-section" href="<%= current_page.data.prev_url %>"></a>
          <% if current_page.data.next_url == "" %>
          <h4><span class="text-green uppercase">End</span></h4>
          <% else %>
          <a class="next-section" href="<%= current_page.data.next_url %>">
            <h4>
              <span class="text-green uppercase">next</span>
              <%= current_page.data.next_title %>
            </h4>
          </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
