<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("intro-why") %>>
        <a href="/intro/why.html">Why Use Packer?</a>
      </li>
      <li<%= sidebar_current("intro-use-cases") %>>
        <a href="/intro/use-cases.html">Use Cases</a>
      </li>

      <li<%= sidebar_current("intro-getting-started") %>>
        <a href="/intro/getting-started/install.html">Getting Started</a>
        <ul class="nav">
          <li<%= sidebar_current("intro-getting-started-install") %>>
            <a href="/intro/getting-started/install.html">Install Packer</a>
          </li>
          <li<%= sidebar_current("intro-getting-started-build-image") %>>
            <a href="/intro/getting-started/build-image.html">Build an Image</a>
          </li>
          <li<%= sidebar_current("intro-getting-started-provision") %>>
            <a href="/intro/getting-started/provision.html">Provision</a>
          </li>
          <li<%= sidebar_current("intro-getting-started-parallel-builds") %>>
            <a href="/intro/getting-started/parallel-builds.html">Parallel Builds</a>
          </li>
          <li<%= sidebar_current("intro-getting-started-vagrant") %>>
            <a href="/intro/getting-started/vagrant.html">Vagrant Boxes</a>
          </li>
          <li<%= sidebar_current("intro-getting-started-next") %>>
            <a href="/intro/getting-started/next.html">Next Steps</a>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
