<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= [current_page.data.page_title, "Packer by HashiCorp"].compact.join(" - ") %>
    </title>
    <meta name="description" content="<%= current_page.data.description %>" />
    <%= stylesheet_link_tag "application" %>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="<%= image_path(" favicon.ico ") %>" type="image/x-icon">
    <link rel="icon" href="<%= image_path(" favicon.ico ") %>" type="image/x-icon">
    <script type="text/javascript" src="//use.typekit.net/apr3jjs.js"></script>
    <script type="text/javascript">
      try {
        Typekit.load();
      } catch (e) {}
    </script>
  </head>
  <body>
    <nav class="dark-background">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <a href="/" class="packer-logo pull-left">Packer</a>
            <ul>
              <li class="featured">
                <a href="https://github.com/mitchellh/packer" class="primary">GitHub</a>
              </li>
              <li class="featured">
                <a href="/downloads.html" class="primary">Download</a>
              </li>
              <li><a href="/intro">Intro</a></li>
              <li><a href="/docs">Documentation</a></li>
              <li><a href="/community">Community</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="clearfix"></div>
    <footer class="dark-background">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="packer"><a href="/">Packer</a></li>
              <li>
                A <a href="http://www.hashicorp.com/">HashiCorp</a> project.
              </li>
              <% # current_page.path does not have an extension, but
                 # current_page.source_file does. Also, we don't want to show
                 # this on the homepage.
                 if current_page.url != "/"
                   current_page_source = current_page.path + \
                     current_page.source_file.split(current_page.path)[1] %>
              <li>
                <a href="https://github.com/mitchellh/packer/blob/master/website/source/<%= current_page_source %>">Edit this page</a>
              </li>
            <% end %>
            <a href="http://www.hashicorp.com">
              <li class="pull-right hashi-logo">&nbps;</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%= partial "layouts/google-analytics.html" %>
  <%= partial "layouts/adroll.html" %>
</body>
</html>
